:root {
  --monero-orange: #ff6600;
  --monero-orange-dark: #a84300;
  --light-white: #fbf3ee;
  --body-bg: #060300;
  --preferences-bg: #131313f2;
  --preferences-bg-border: 1px solid #333333;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background: var(--body-bg);
  color: var(--monero-orange);
  font-family: 'sans-serif';
}
a {
  color: var(--monero-orange);
}
a:hover, a:focus {
  color: var(--monero-orange);
}
details summary {
  color: var(--monero-orange-dark);
}
details summary:hover, details summary:focus {
  color: var(--monero-orange);
}
details summary:hover {
  text-decoration: underline;
}
details summary:focus {
  outline: none;
}
#center {
  height: 100vh;
  z-index: 4;
}
#price_holder {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 5rem;
  font-family: 'monospace';
}
#chart {
  text-align: center;
}
#chart a {
  font-size: 0.83rem;
  margin: 0px 4px 0px 5px;
}
#chart a.active {
  font-weight: bold;
  font-size: 0.9rem;
}
details {
  z-index: 22;
  position: absolute;
  top: 15px;
  text-align: right;
  right: 15px;
  cursor: pointer;
  width: auto;
}
#preferences {
  font-family: 'monospace';
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  background: var(--preferences-bg);
  border: var(--preferences-bg-border);
  color: var(--light-white);
  transition: 0.2113s all;
  cursor: default;
  opacity: 0;
}
details[open] {
  width: 100%;
}
details[open] #preferences {
  opacity: 1;
  box-shadow: 0px 0px 6px 2px #3e1900;
}
#preferences h4 {
  color: var(--light-white);
  padding: 31px 0px 0px 0px;
}
#preferences form {
  padding: 40px;
  text-align: left;
}
#preferences form .setting {
  float: left;
  width: 100%;
  padding: 0px 0px 15px 0px;
}
#preferences form #pageReload.setting.disabled {
  color: gray;
}
#preferences form select {
  padding: 3px;
  color: white;
  background: black;
  border: 1px solid #404040;
  font-size: 1rem;
}
#preferences form .setting label {
  float: left;
  width: 100%;
}
#preferences form .setting label input, #preferences form .setting select {
  float: right;
}
#preferences form .setting #price_size, #preferences form .setting #auto_update {
  max-width: 60px;
  margin: -20px 0px;
  padding: 4px;
}
#preferences form small {
  font-size: x-small;
}
#preferences form small.notice {
  font-size: x-small;
  float: left;
  padding: 30px 0px 10px 0px;
}
#preferences form input[type="submit"] {
  padding: 7px;
  background: black;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
}
#preferences form input[type="submit"]:hover, #preferences form input[type="submit"]:focus {
  background: white;
  color: black;
  cursor: pointer;
}
pre {
  color: var(--light-white);
  padding: 30px 0px 0px 0px;
}
footer {
  text-align: center;
  padding: 350px 0px 40px 0px;
}
footer a {
  color: var(--monero-orange-dark);
}
